html {
  font-size: 18px;
}

/* абсолютні - px
відносні  - em (1уь = 100% від шрифта батьківського елемента)
          - rem (1rem = 100% від шрифта рутового елементу)
          - vw (1vw = 1% видомої частини вікна браузера)
          vh (1vh = 1% відимої сисоти вікна браузера) */

h1 {
  font-size: 4vw;
}

p {
  /* text-align */
  font-size: 1rem;
  /* font-family */
}

div {
  font-size: 1.5rem;
}

article {
  font-size: 2.25rem;
}