html {
  font-size: 18px;
}

/* абсолютні - px
відносні - em (1уь = 100% від шрифта батьківського елемента) */

h1 {
  font-size: 2rem;
}

p {
  /* text-align */
  font-size: 1rem;
  /* font-family */
}

div {
  font-size: 1.5rem;
}

article {
  font-size: 2.25rem;
}