html {

}

p {
  /* text-align */
  font-size: 1em;
  /* font-family */
}
/* абсолютні - px
відносні - em (1уь = 100% від шрифта батьківського елемента) */

h1 {
  font-size: 2em;
}
div {
  font-size: 1.5em;
}
article {
  font-size: 2.25em;
}